.para-link {
  color: #0000ff;
  text-decoration: none;
}

.chatbot-container {
  position: fixed;
  right: 40px;
  bottom: 18%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 25%;
  font-family: "Inter", sans-serif;
}

.chatbot-button {
  position: fixed;
  right: 40px;
  bottom: 6%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #d71313;
  color: #eeeded;
  border: none;
}

.react-chatbot-kit-chat-container {
  width: 100%;
}

.react-chatbot-kit-chat-inner-container {
  border-radius: 5%;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 3px;
}

.chatbot-header {
  display: flex;
  align-items: center;
  height: 15%;
  border-bottom: #f0f0f0 solid 1px;
  font-weight: bold;
  font-size: larger;
}

.chatbot-bot-message {
  background-color: #eee;
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 0px 70.4px 70.4px 30.4px;
  font-size: 0.9rem;
  color: #505050;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  width: 184.5px;
  margin-left: 5px;
  text-align: left;
  white-space: pre-line;
}

.source-para {
  font-size: 0.5rem;
  color: #0000ff;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  position: relative;
  white-space: pre-line;
  text-align: left;
  margin: 0;
  margin-left: 10px;
}

.spacing-sources {
  width: 100%;
  height: 1px;
  padding: 1px;
}

.chatbot-user-message {
  background-color: var(--blue, #3369ff);
  padding: 10px;
  border-radius: 70.4px 0px 70.4px 70.4px;
  font-size: 0.9rem;
  color: #fff;
  position: relative;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.react-chatbot-kit-chat-message-container {
  height: 380px;
}

body {
  background-color: #f0ece5;
}

.react-chatbot-kit-chat-input {
  border-radius: 84.48px;
  background: #fff;
  box-shadow: 14.08px 11.264px 56.32px 0px rgba(0, 0, 0, 0.13);
}

.react-chatbot-kit-chat-btn-send {
  border-radius: 40px;
  box-shadow: 14.08px 11.264px 56.32px 0px rgba(0, 0, 0, 0.13);
}

/* @media only screen and (max-width: 767px) {
  .chatbot-container {
    display: none;
  }
} */

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .chatbot-container {
    display: none;
  }
  .chatbot-button {
    display: none;
  }
}
